@media (max-width: 48em) {
	.body{
		padding: 0 1.6rem;
	}
	.header {
		max-width: 48rem;
	}
	.mobile-display {
		display: none;
	}
	.main-nav-link {
		white-space: nowrap;
	}
	.hero-box {
		max-width: 48rem;
		flex-direction: column-reverse;
		gap: 4.8rem;
	}
	.hero-img {
		margin-bottom: 2.4rem;
	}

	.primary-heading {
		font-size: 5.2rem;
	}
	.hero-description,
	.our-plants-description {
		font-size: 1.8rem;
	}
	.hero-box {
		margin-bottom: 8rem;
	}
	.secondary-heading {
		font-size: 3.6rem;
	}
	.our-plants-description {
		max-width: 48em;
	}
	.plants-box {
		max-width: 48em;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: 9.6rem;
	}
	.plants-lover-box {
		max-width: 48rem;
		grid-template-columns: 1fr;
		row-gap: 4.8rem;
		margin-bottom: 6.4rem;
	}
	.section-join-box {
		padding-top: 12rem;
	}
	.join-box {
		max-width: 33rem;
	}
	.section-join {
		height: 33rem;
		width: 100%;
	}
	.email-input {
		padding: 1rem 2rem;
		font-size: 1.4rem;
	}
	.section-footer,
	.footer-nav-list {
		max-width: 48rem;
		grid-template-columns: 1fr;
	}
	.footer-logo {
		height: 9.6rem;
	}
	.section-footer {
		gap: 3.2rem;
		justify-items: start;
	}
}
